*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#f2e8cc;
    --secondary-color:#99bd05;
    --third-color:#236130;
    --fourth-color:#de3891;
    --title-font: 'Poetsen One', sans-serif;
    --subtitle-font:'subjectivity', sans-serif;
    --main-font:'space mono', sans-serif;

}
body {
    font-family: var(--main-font);
    background-color: var(--main-color);
} 

body > main > MAP > iframe {
    height: 250px;
    width: 100vw;
    margin: 0px;
    border-radius: 16px;
}

.vignette-restaurant {
background-color: var(--secondary-color);
display: flex;
justify-content: space-between;
align-items: center;
padding: 0.5rem;
margin: 1rem 0;
border-radius: 16px;
}

.restaurant-name {
    font-family: var(--subtitle-font);
    color: var(--main-color);
}

.restaurant-description {
    font-family: var(--subtitle-font);
    color: var(--third-color);
    font-weight: 700;
}

footer {
    background-color: var(--fourth-color);
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}