*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-color:#f2e8cc;
  --secondary-color:#99bd05;
  --third-color:#236130;
  --fourth-color:#de3891;
  --title-font: 'Poetsen One', sans-serif;
  --subtitle-font:'subjectivity', sans-serif;
  --main-font:'space mono', sans-serif;
}

/*Header*/
header {
  background-color: var(--secondary-color);
}

.logo {
  width: 6rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #DE3891;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F2E8CC'/%3E%3Cstop offset='1' stop-color='%23DE3891'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23DE3891' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23DE3891' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.search {
  display : flex;
  justify-content : space-around;
  flex-direction : row;
}

.sous {
  display: none;
}

/* Menu Burger*/
/* Sidenav menu */
.sidenav {
  /*height: 100%;*/
  width: 10rem;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -250px;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: right 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  right: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

/*Sous menu burger (Les villes)*/


/*Fin du menu burger*/
body {
  font-family: var(--main-font);
  background-color: var(--main-color);
}

/* Carte interactive */
body > main > MAP > iframe {
  height: 250px;
  width: 100vw;
  margin: 0px;
  border-radius: 16px;
}

/* Vignette du restaurant et son contenu */
.vignette-restaurant{
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  border-radius: 16px;
    gap: 0.5rem;
    height: auto;
}
/* Images et photos */
.mySlides{
  display: ;
  width: 100%;
  height: max-content;
}
.image-restaurant{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Boutons pour slider */
.slide-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.select-button{
  height: 13px;
  width: 13px;
  padding: 0;
  cursor: pointer;
  background-color:#ffffff;
  color:#fff;
  border-radius: 50%;
  margin-top: 0.5rem;
}

.select-button:hover{
  background-color: var(--fourth-color);
}

/* Contenu et descriptions */
.restaurant-name{
  font-family: var(--subtitle-font);
  color: var(--main-color);
}
.restaurant-description{
  color: black;
  font-weight: 500;
  max-width: 25ch;
  font-size: small;
  /* Limitation des cases de description et overflow */
    --max-lines:4;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  background-color: var(--main-color);
  border-radius: 8px;
    min-width: 45vw;
}
.restaurant-description:has(+ .expand-button:checked){
  --max-lines:20;
}
.expand-button{
  appearance: none;
  background-color: var(--fourth-color);
  color: var(--main-color);
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 3rem;
  box-shadow: 0.1rem 0.1rem 2px var(--third-color);
  transition: transform 100ms ease-in-out;
}
.expand-button:hover{
  background-color: white;
  color: #111;
  transform: scale(1.1);
  animation-delay: 300ms;

}
.expand-button::before{
  content: "Afficher plus";
}
.expand-button:checked:before{
  content: "Afficher moins";
}
  /* Fin de la partie sur l'overflow */

.restaurant-note{
  color: black;
}
.checked {
  color: orange;
}

.restaurant-link{
  color: black;
  font-weight: 500;
}

/* Bas de page */
footer{
  background-color: var(--fourth-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.3rem;
  color: var(--main-color);
  font-size: small;

}