* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-color:#ffffff;
  --secondary-color:#ffd332;
  --third-color:#009c53;
  --fourth-color:#f15622;
  --title-font: 'Poetsen One', sans-serif;
  --subtitle-font: 'subjectivity', sans-serif;
  --main-font: 'space mono', sans-serif;
}

/*Header*/
header {
  background-color: var(--fourth-color);
  padding: 2rem 0 2rem 0;
  border-radius: 0 0 40px 40px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 6rem;
}

nav {
  display: flex;
  align-items: center;
  background-color: #f15622;
  background-attachment: fixed;
  background-size: cover;
  justify-content: space-between;
  padding: 0 1rem 0 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.input {
  width: 100%;
  height: 2rem;
  line-height: 1.8rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/* Menu Burger*/
/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -10000px;
  background-color: var(--secondary-color);
  padding-top: 60px;
  transition: right 0.5s ease;
  text-align: center;
  opacity: 0.9;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--third-color);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  right: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
/*Fin du menu burger*/

/*début search button*/
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  max-width: 190px;
}

.search {
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
}

.search-buttons{
  margin: 0 auto;
}

.search-buttons > button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  background-color: var(--secondary-color);
  color: var(--fourth-color);
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.5rem;
}

.search-buttons > button:hover {
  background-color: var(--third-color);
}

/* Filtres */
#filtres {
  display: none;

}
#filtres .active {
  display: block;
}



/* Fin de la partie sur les filtres*/

body {
  font-family: var(--main-font);
  background-color: var(--main-color);
  padding-top: 72px;
}

/* Carte */
#map {
  width: 100%;
  height: 45vh;
  border-radius: 1rem;
}
.map-container{
  padding: 1rem 1rem;
  margin: 0 auto;
  width: 100vw;
  transition: width 0.5s ease-in-out;
}

@media screen and (width >= 768px) {
  .map-container{
    width: 70vw;
  }
}

/* Vignette du restaurant et son contenu */
/* Vignette de démonstration vide */
.demo{
  display: none;
}

.vignette-restaurant{
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  border-radius: 16px;
  gap: 0.5rem;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

@media screen and (width >= 768px) {
  .vignette-restaurant{
    width: 70vw;
    margin: 1rem auto;
  }
}

/* Images et photos */
.mySlides{
  width: 100%;
  height: 30vh;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgb(97, 97, 97);
  object-fit: cover;
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  from {opacity: 0.6;}
  to {opacity: 1;}
}

.image-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
}

/* Contenu et descriptions */
.information-restaurant{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.restaurant-name {
  font-family: var(--subtitle-font);
  color: #0c3eff;
  padding: 0.5rem;
  justify-content: center;
}

.restaurant-description {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  background-color: var(--third-color);
  border-radius: 8px;
  margin-top: 0.5rem;
  padding: 1rem;
  width: 90vw;
  height: auto;
  box-shadow: 5px 5px 10px rgb(76, 67, 3);
}

/* Fin de la partie sur l'overflow */
.restaurant-note {
  color: black;
}

.restaurant-price {
  color: black;
}

.restaurant-link {
  color: black;
}
/* Bas de page */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.3rem;
  color: var(--main-color);
  font-size: small;
  background-color: var(--fourth-color);
  background-attachment: fixed;
  padding: 2rem;
  border-radius: 40px 40px 0 0;
}

/* Barres des réseaux sociaux */
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/*Page A propos*/
.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infos {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

h3 {
  font-family: var(--subtitle-font);
  color: var(--main-color);
}

.wilders {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  border-radius: 16px;
  gap: 0.5rem;
  height: auto;
  font-size: medium;
}

.information-wilders {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  align-items: center;
}

.Nous {
  width: 15rem;
}

/*Page Contact*/
.contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

#message {
  font: var(--main-font);
}

.reason {
  font-size: medium
}

#submitButton {
  font: var(--main-font);
  margin: 1rem
  }

  #submitButton:hover {
  font: var(--main-font);
  width: 500px;
  transition: width 1s ease-in;
  background-color: #99bd05;
}

@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}